html, body {
    margin: 0; padding: 0;
}

body {
    height: 100%;
}

#__nuxt, #__layout {
    height: 100%;
}

.container {
    max-width: 780px;
    margin: 20px auto;
}

pre code {
}

.quote {
    padding-left: 20px;
    border-left: 5px solid #aaa;
}

code {
    background: #d1fcf5;
    border-radius: 4px; 
    padding: 2px 4px;
}

a.mdl-navigation__link {
    transition-duration: 0.2s;
}
a.mdl-navigation__link:hover {
    background: rgba(0,0,0,0.1);
}

.mention {
    color: #7289da;
    transition: background-color 0.05s, color 0.05s;
    background-color: rgba(115, 139, 215, 0.1);
}
.mention:hover {
    background-color: rgba(115, 139, 215, 0.7);
    color: #fff;
    cursor: pointer;
}